<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>some web site</title>
    </head>
    <body>
        {{>header}}
        <p>show list of projects here   </p>
        {{> footer}}
    </body>
</html>